body
{
	margin:0px;
	background-color:#BD91E3;            /* Basic Stuff */
}


#header
{
	font-size:30pt;
	font-family:HP Simplified, sans-serif;
	color:black;
	background-color:#ADC2FA;
	height:50pt;
	text-align:center;
	border-bottom: 5px solid #000000;
}

#footer
{
	background-color:#ADC2FA;
	position:fixed;
	text-align:center;
	font-family:HP Simplified, sans-serif;
	bottom:0;
	left:0;
	height:30pt;
	font-size:10pt;
	width:100%;
	border-top:5px solid #000000;
}

.banner_links a:visited
{
	color:black;
	font-family:HP Simplified;
}

.banner_links a:hover
{
	color:black;
	font-family:HP Simplified;
}

.banner_links a:link
{
	color:black;
	font-family:HP Simplified;
}

#links
{
	font-size:15pt;
	width: 50%;
	text-align:center;
}

#menu
{
	text-align: center;
	width: 50%;
	display: none;
	font-family: HP Simplified, sans-serif;
}

#contact
{
	text-align: center;
	width: 50%;
	font-size:40px;
	text-decoration: underline;
	font-family: HP Simplified, sans-serif;
}

#body_style
{
	background-color:#BD91E3;
}

.FadeDivs
{
	margin-top: 15%;
	margin-left: 10%;
	position:fixed;
	font-size: 40px;
	text-align: center;
	font-family: HP Simplified, Comic Sans MS;
	float:left;
	width:500px;
	height:200px;
	display:none;
}

/* ------------------------------------ */

#holdCanvas
{
	position:fixed;
	margin-top:10%;            /* Pong Game styles */
	margin-left:10%;
}

#myCanvas
{
	width:400px;
	height:400px;
	border:3px solid #ffffff;
	background-color:black;
}

#winText1
{
	text-align: center;
	font-family: HP Simplified, Comic Sans MS;
	font-size: 32px;
}

#winText2
{
	text-align: center;
	font-family: HP Simplified, Comic Sans MS;
	font-size: 32px;
}

#controls
{
	text-align: center;
	font-family: HP Simplified, Comic Sans MS;
	font-size: 20px;
}

/* ------------------------------------ */

#contactForm
{
	position:absolute;
	font-family: HP Simplified, Comic Sans MS;
	text-align:center;
	width:200px;
	height:300px;
	margin-left:20%;
	margin-top:10%
}

#myEmail
{
	text-align: center;
	font-family: HP Simplified, Comic Sans MS;
	font-size: 18px;
	position:absolute;
	margin-left:20%;
	margin-top:10%;
}

#myNumber
{
	text-align: center;
	font-family: HP Simplified, Comic Sans MS;
	font-size: 18px;
	position:absolute;
	margin-left:20%;
	margin-top:30%;
}

#myLocation
{
	text-align: center;
	font-family: HP Simplified, Comic Sans MS;
	font-size: 18px;
	position:absolute;
	margin-left:20%;
	margin-top:50%;
}

#images
{
	height:32px;
	width:32px;
	position:absolute;
	float:left;
}

/* ------------------------------------ */

#video1
{
	width:35%;          /* Video Page styles */
	height:40%;
	border: 3px solid black;
	margin-top:10%;
	margin-left:10%;
	position:fixed;
}

#video2
{
	width:35%;
	height:40%;
	border: 3px solid black;
	position:fixed;
	margin-left:55%;
	margin-top:10%;
}

#holdVideo
{
	position:fixed;
}

#indexImg1
{
	position:absolute;
	text-align: center;
	font-family: HP Simplified, Comic Sans MS;
	font-size: 18px;
	margin-left:65%;
	margin-top:5%;
}