body
{
	margin: 0px;
	background-color:#BD91E3;
}


#header
{
	font-size:30pt;
	font-family:HP Simplified, sans-serif;
	color:black;
	background-color:#ADC2FA;
	height:50pt;
	text-align:center;
	border-bottom: 5px solid #000000;
}

#footer
{
	background-color:#ADC2FA;
	position:fixed;
	text-align:center;
	font-family:HP Simplified, sans-serif;
	bottom: 0;
	left: 0;
	height: 60pt;
	font-size:20pt;
	width: 100%;
	border-top: 5px solid #000000;
}

.banner_links a:visited
{
	color:black;
	font-family:HP Simplified;
}

.banner_links a:hover
{
	color:black;
	font-family:HP Simplified;
}

.banner_links a:link
{
	color:black;
	font-family:HP Simplified;
}

#links
{
	font-size:15pt;
	width: 50%;
	text-align:center;
}

#menu
{
	text-align: center;
	width: 50%;
	display: none;
	font-family: HP Simplified, sans-serif;
}

#contact
{
	text-align: center;
	width: 50%;
	font-size:40px;
	text-decoration: underline;
	font-family: HP Simplified, sans-serif;
}

#body_style
{
	background-color:#BD91E3;
}

.FadeDivs
{
	margin-top: 15%;
	margin-left: 10%;
	position:fixed;
	font-size: 40px;
	text-align: center;
	font-family: HP Simplified;
	float:left;
	width:80px;
	height:80px;
	display:none;
}

#holdCanvas
{
	position:fixed;
	margin-top:10%;
	margin-left:5%;
}

#myCanvas
{
	width:400px;
	height:400px;
	border:3px solid #ffffff;
	background-color:black;
}

#winText1
{
	text-align: center;
	font-family: HP Simplified;
	font-size: 32px;
}

#winText2
{
	text-align: center;
	font-family: HP Simplified;
	font-size: 32px;
}
